<li>
    <div [ngClass]="{'active': pwId === active}"  class="password-container">
        <div class="logo">
            <p class="material-symbols-outlined">public</p>
        </div>
        <div class="info">
            <div class="title">{{title}}</div>
            <div class="username">{{username}}</div>
        </div>
        <div class="action">
            <span #ctxopen (click)="showctx($event)" class="icon material-symbols-outlined">
                more_vert
            </span>                
        </div>
    </div>
</li>

<div #ctx class="ctx" *ngIf="showCtxMenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <span (click)="viewpw()">View</span>
    <span (click)="delpw()" class="text-danger">Delete</span>
</div>