@import '../../global-vars.scss';
@import '../password-preview/password-preview.component.scss';

#container{
    float:right;
    width: 90%;
    height: 100vh;
    // overflow: hidden;
    overflow-y: auto;
}

#inner-container{
    padding: 10px;
    width: 70%;
    float: left;
}

#pw-generator-container{
    width: 25%;
    height: 100vh;
    float: right;
    padding: 10px;
    border-left: 1px solid $border;
}