<div id="container">
    <div id="inner-container">
        <form [formGroup]="passwordPreview" (submit)="save()">
            <div class="header form-item">
                <h2>{{activeItem?.title ?? 'Create Password'}}</h2>
            </div>
            <div class="form-item">
                <label for="siteName">Site Name</label>
                <input type="text" placeholder="Site Name" name="siteName" formControlName="siteName" required>
            </div>
            <div class="form-item">
                <label for="siteName">Username</label>
                <input type="text" placeholder="Username" name="username" autocomplete="off" formControlName="username" required>
            </div>
            <div class="form-item-pw">
                <label for="siteName">Password</label>
                <div class="pw-holder">
                    <input type="{{pwVisibility ? 'text' : 'password'}}" autocomplete="off" placeholder="Password" name="password" formControlName="password" required>
                    <span (click)="quickGenerate()" class="material-symbols-outlined">refresh</span>
                    <span (click)="toggleVisibility()" class="material-symbols-outlined">{{pwVisibility ? 'visibility' : 'visibility_off'}}</span>
                </div>
                
            </div>
            <div class="form-item">
                <label>Notes</label>
                <textarea placeholder="Notes" name="notes" formControlName="notes"></textarea>
            </div>
            <div *ngIf="!isLoading">
                <button type="submit" class="button primary">Save</button>
                <button type="button" (click)="cancel()" class="button secondary mg-1">Cancel</button>
            </div>

            <div *ngIf="isLoading">
                <button type="submit" class="button primary" disabled>Save</button>
                <button type="button" class="button secondary mg-1" disabled>Cancel</button>
            </div>
            
        </form>
    </div>
    <div id="pw-generator-container">
        <app-generate-password (outGenPasswordLen)="outGenPwLen($event)"></app-generate-password>
    </div>
</div>


