@import '../../global-vars.scss';

#container{
    float:right;
    width: 90%;
    height: 100vh;
    // overflow: hidden;
    overflow-y: auto;
    display: flex;
    vertical-align: middle;
}

#inner-container{
    width: 25%;
    height: 100vh;
    margin: auto;
    padding: 10px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}