
<div id="container">
    <div class="header form-item">
        <h2>Generate Password</h2>
    </div>
    <form [formGroup]="genPw" (ngSubmit)="submit()">
        <div class="main">
            <div class="form-item pw">
                <label for="password">Generate Password</label>
                <input value="{{generatedPw}}" type="text" name="password" placeholder="Generate Password" disabled>
            </div>
            <div class="form-item pwlen">
                <label for="length">Length</label>
                <input #pwlen type="number" name="length" min="0" max="99" value="12" onkeydown="return false" (change)="outPwLen(pwlen.value)" formControlName="len">
            </div>
        </div>
        <button type="submit" style="width: 48%; margin-right: 1%" class="button primary">Generate</button>
        <button (click)="copyPw()" type="button" style="width: 48%; margin-top: 8px" class="button secondary">{{justCopied ? 'Copied' : 'Copy'}}</button>
    </form>
</div>