@import '../../global-vars.scss';

h2{
    margin-top: 0;
    padding-top: 0;

}

.pw{
    width: 70%;
    display: block;
}

.pwlen{
    width: 25%;
    float: right;
    display: block;
    margin-left: 3%;
}

.pwlen input{
    text-align: center;
    padding-left: 0px;
}

.main{
    display: flex;
    flex-direction: row;
}