@import '../../global-vars.scss';

.holder{
    padding: 10px;
    height: 100vh;
}

.form-item{
    margin-top: 20px;
}

.form-item label{
    color: $text-secondary;
    font-weight: bold;
    font-size: 14px;
}

.form-item h2{
    margin: 0;
    padding: 0;
}

.header{
    margin-top: 0px !important;
}
