<div>
    <div id="search-bar">
        <input class="searchbar" type="text" (input)="filter($event)" placeholder="Search">
        <span (click)="new()" style="font-variation-settings: 'FILL' 1; cursor: pointer; " class="icon material-symbols-outlined">
            add_box
        </span>
    </div>
    <div id="password-holder">
        <app-loading-overlay *ngIf="isLoading"></app-loading-overlay>
        <ul *ngFor="let p of passwords">
            <app-password-item *ngIf="isFiltered(p.title)" (outToDel)="delpw($event)" (outIsCtx)="isCtx($event)" (click)="setActivePw(p.passwordGuid)" [active]="active?.passwordGuid ?? ''" [title]="p.title" [username]="p.username" [pwId]="p.passwordGuid"></app-password-item>
        </ul>
    </div>
    
</div>


<div *ngIf="showDelConfirm" id="upper-confirm">
    <div id="confirmation">
        <div id="inner-del-confirm" class="text-danger">
            <h2>Are you sure?</h2>
            <p>Are you sure you want to delete this password? This action is permanent and cannot be undone!</p>
            <div id="button-holder">
                <button (click)="delPwConfirmed()" class="button danger-button">Yes</button>
                <button (click)="canceldel()" class="button secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>

